<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Tic Tac Toe
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div class="gameStatus">
		{{gameStatusMessage}}
		<ion-button (click)="restartGame()">New Game</ion-button>
	</div>

	<ion-grid class="board">
		<ion-row *ngFor="let row of [0,1,2]">
			<ion-col style="height: 100%;" col-4 class="cell" *ngFor="let col of [0,1,2]"
				(click)="handleMove(col+row*3)">
				<img src="assets/img/1_{{ squares[col+row*3 ]}}.png" />
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
